.containerSearch {
    display: flex;
    align-items: center;
    padding: 0 1.2rem;

    div + div {
        margin-left: .4rem;
    }

    label {
        display: block;
        color: var(--gray-300);
        font-size: 1.4rem;
        margin-bottom: .6rem;
    }

    select {
        width: 100%;
        background: var(--gray-300);
        height: 2.4rem;
        padding: 0 1.2rem;
        font-size: 1.4rem;
        border-radius: 6px;
        border: 0;
    }
}

.list {
    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.2rem .8rem;

        h1 {
            display: block;
            margin: 3.2rem auto;
            font-size: 2.4rem;
        }

        & + li {
            margin-top: 1.2rem;
            border-top: 1px solid var(--gray-300);
        }

        p {
            color: var(--gray-300);

            & + p {
                margin-top: 1.2rem;
            }

            span {
                margin-left: 1.2rem;
                color: var(--gray-300);
            }
        }
    }
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    button + button {
        margin-top: 1.2rem;
    }


    button {
        width: 8rem;
        height: 4rem;
        border-radius: 6px;
        border: 0;
        padding: .8rem 1.2rem;
        color: var(--gray-700);
        background: var(--blue-900);
        transition: filter .2s;
        font-size: 1.4rem;

        &:hover {
            filter: brightness(0.9);
        }
    }
}

.nenhumResultado {
    text-align: center;
    color: var(--gray-300);
}
