.containerSelect {
    width: 100%;
    max-width: 720px;
    height: 5rem;
    margin: 0 auto;
    background: var(--gray-700);
    border-radius: 8px 8px 0 0;

    display: flex;
    align-items: center;
    justify-content: center;

    nav {
        & + nav {
            margin-left: 3.2rem;
        }

        button {
            background: transparent;
            color: var(--gray-300);
            font-size: 1.6rem;
            position: relative;
            border: 0;
            height: 5rem;

            &.active {
                color: var(--gray-300);
                font-weight: bold;
            }

            &.active::after {
                content: '';
                height: 3px;
                border-radius: 3px 3px 0 0;
                width: 100%;
                position: absolute;
                bottom: 1px;
                left: 0;
                background: var(--blue-900);
            }
        }
    }
}

.content {
    width: 100%;
    max-width: 720px;
    min-height: 80vh;
    margin: 0 auto;
    background: var(--gray-700);
    padding: 3.2rem 1.2rem 1.6rem;
    position: relative;
}
