.container {
    padding: 5rem 1.2rem 0;
    background: var(--gray-900);
    border-bottom: 1px solid var(--gray-700);
}

.content {
    margin: 3.2rem auto;
    padding: 4.8rem 1.6rem !important;
    border-radius: 8px;
    max-width: 1120px;
    background: var(--gray-300);
    padding: .1rem 3.2rem;
    box-shadow: 15px 6px 15px rgba(0,0,0,0.5);

    h1 {
      margin-top: 3.2rem;
      text-align: center;
      font-size: 3.2rem;
      color: var(--gray-700);
    }
    h1:first-child {
      margin-top:0;
    }

    p {
        font-size: 2rem;
        font-weight: bold;
        color: var(--gray-700);
        line-height: 4rem;

        span {
            word-wrap: break-word;
            color: var(--gray-700);
            font-size: 1.8rem;
            font-weight: 400;
            margin-left: .8rem;
        }
    }

    a {
        text-decoration: underline;
        color: var(--blue-900);
    }
}

.imgContainer {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.4rem;

  .smalImage {
    width: 28rem;
    height: 20.5rem;
  }
}
