.contentContainer {
    margin: 0 auto;
    padding: 0 16rem;
    height: 100vh;
    background: var(--gray-900);

    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 60rem;
        height: 80rem;
    }

    @media (max-width: 770px) {
        padding: 0 4rem;
        height: 70vh;

        section {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.hero {
    max-width: 600px;

    span {
        font-size: 1.6rem;
        color: var(--gray-300);
    }

    h1 {
        font-size: 4.5rem;
        line-height: 4.5rem;
        margin-top: 2.5rem;
        color: var(--gray-300);
    }

    p {
        font-size: 1.5rem;
        line-height: 2.25rem;
        margin-top: 1.5rem;
        color: var(--gray-300);
    }

    button {
        margin-top: 2.5rem;
    }
}
