.container {
    width: 100%;
    min-height: 100vh;
    padding: 5rem 0;
    margin: 0 auto;
}

.content {
    background: var(--gray-900);
}

.listProperties {
    margin: 1.6rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    max-width: 900px;

    h1 {
        font-size: 2.4rem;
    }
}
