.container {
    background: var(--gray-900);
    height: 100vh;
    padding: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 50rem;
        height: 50rem;
    }

    @media(max-width: 768px) {
        img {
            display: none;
        }
    }
}

.Card {
    margin: 5.6rem;
    background: var(--gray-300);
    max-width: 320px;
    border-radius: 6px;
    padding: 3.2rem;

    @media(max-width: 768px) {
        margin: 0;
    }

    section {

        & + section {
            margin-top: 2rem;
        }

        h1 {
            text-align: center;
            font-size: 2.2rem;
            margin-bottom: 1.6rem;
        }

        p, span {
            color: var(--gray-700);
        }

        p {
            display: flex;
            align-items: center;

            &.hour {
                justify-content: space-between;
            }

            & + p {
                margin-top: 1.2rem;
            }

            span {
                margin-left: .8rem;
            }
        }

    }
}
