.form {
    display: flex;
    flex-direction: column;
    padding: 2.4rem 3.6rem;
    position: relative;
    label {
        color: var(--gray-300);
        font-size: 1.6rem;
        margin-bottom: .8rem;
    }

    input {
        height: 4rem;
        border-radius: 8px;
        border: 0;
        padding: .8rem 1.2rem;
        font-size: 1.6rem;
        color: var(--gray-700);

        &::placeholder {
            color: var(--gray-900);
        }
    }

    input + label {
        margin-top: 1.6rem;
    }

    button.buttonForm {
        display: block;
        margin: 2.4rem auto 0;
        width: 100%;
        max-width: 36rem;
        height: 4rem;
        border-radius: 4rem;
        border: 0;
        padding: .8rem 1.2rem;
        font-size: 1.6rem;
        color: var(--gray-700);
        background: var(--blue-900);
        transition: filter .2s;

        &:hover {
            filter: brightness(0.9);
        }
    }

}

.back {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: 0;
    margin-top: -3.2rem;
    svg {
        color: var(--blue-900);
        width: 3.2rem;
        height: 3.2rem;
    }
}