.propertyContainer {
    width: 100%;
    height: 100%;
    min-width: 24rem;
    max-width: 24rem;
    max-height: 47rem;
    border-radius: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.imageContainer {
    position: relative;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    min-height: 16rem;
    max-height: 16rem;

    img {
    max-height: 16rem;
    min-height: 16rem;
    width: 100%;
      height: 100%;
      filter: brightness(0.7);
    }

    div {
        position: absolute;
        bottom: 1.2rem;
        left: 0;
        right: 0;

        padding: 0 2rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        span, a {
            color: var(--white);
            font-weight: 900;
            font-size: 1.2rem;

            display: flex;
            align-items: center;
            white-space: nowrap;
        }

        svg {
            margin-right: .8rem;
        }
    }
}

.informationContainer {
    height: 100%;
    min-height: 20rem;
    max-height: 20rem;
    margin-top: -.2rem;
    background: var(--blue-900);
    padding: 1.6rem;

    strong {
        display: block;
        font-size: 1.6rem;
        color: var(--yellow-900);
        margin: 1.2rem 0;
    }

    p {
        color: var(--gray-700);
    }

    .descricao {
        text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    }
}

.buttonContainer {
    background: var(--blue-900);
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        width: 100%;
        max-width: 9.6rem;
        height: 3.2rem;
        border-radius: 6px;
        border: 0;
        background: var(--yellow-900);
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--gray-700);
        transition: filter 0.2s;

        &:hover {
            filter: brightness(0.9);
        }
    }
}
