.footerContainer {
    background: var(--gray-900);
    padding-top: 4rem;
}

.footerContent {
    margin: 4rem 8rem;
    padding-bottom: 4rem;

    strong {
        font-size: 2.2rem;
        color: var(--gray-300);
        display: block;
        margin-bottom: 2.4rem;
        margin-left: 2.4rem;
    }

    p {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        color: var(--gray-300);
        margin-top: 1.2rem;

        svg {
            color: var(--blue-900);
        }

        span {
            font-size: 1.6rem;
            color: var(--gray-300);
            margin-left: .8rem;
        }
    }
}

.subFooter {
    height: 5rem;
    background: var(--gray-700);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.2rem;
    span {
        font-size: 1.2rem;
        color: var(--gray-300);
    }
}
