.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    form {
        width: 100%;
        display: flex;
        padding: 0 1.2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        max-width: 720px;

        .formContent{
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: .8rem;
        }

        h1 {
            text-align: center;
            font-size: 2.4rem;
            color: var(--gray-300);
        }

        button {
            width: 16rem;
            height: 3.2rem;
            border-radius: 6px;
            background: var(--blue-900);
            border: 0;
            font-size: 1.6rem;
            font-weight: bold;

            transition: filter .2s;

            &:hover {
                filter: brightness(0.9);
            }
        }
    }
}

.formContainer {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        label {
            font-size: 1.6rem;
            color: var(--gray-300);
        }

        select, input {
            margin-top: .4rem;
            width: 100%;
            max-width: 20rem;
            height: 3.2rem;
            border-radius: 6px;
            background: var(--gray-300);
            font-size: 1.2rem;
            color: var(--gray-700);
        }

        select + label, input + label  {
            margin-top: 1.2rem;
        }
    }

    .containerButton {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 1.6rem 0;

        button + button {
            margin-left: 1.6rem;
        }
    }
}

.filterFlexContainer {
    display: flex !important;
    justify-content: center !important;
    flex-direction: row !important;
    align-items: center !important;
    gap: 2.4rem;

    max-width: 32rem !important;
}