
.list {
  margin-top: 1.6rem;

  li {
      padding: 1.2rem .8rem;
      width: 100%;

      img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        max-width: 28rem;
        max-height: 20.5rem;
      }

      h1 {
          display: block;
          margin: 3.2rem auto;
          font-size: 2.4rem;
      }

      & + li {
          border-top: 1px solid var(--gray-300);
      }

      p {
          color: var(--gray-300);

          & + p {
              margin-top: 1.2rem;
          }

          span {
              margin-left: 1.2rem;
              color: var(--gray-300);
          }
      }
  }
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.6rem;

  button + button {
      margin-left: 1.2rem;
  }

  button {
      width: 8.8rem;
      min-height: 4rem;
      border-radius: 6px;
      border: 0;
      padding: .8rem 1.2rem;
      color: var(--gray-700);
      background: var(--blue-900);

      transition: filter .2s;
      font-size: 1.4rem;

      &:hover {
          filter: brightness(0.9);
      }

      &.isDestaque {
        background: var(--yellow-900);

        &:hover {
          filter: brightness(1);
          cursor: default;
        }
      }
  }
}

.nenhumResultado {
  text-align: center;
  color: var(--gray-300);
}

.back {
  position: absolute;
  top: 4rem;
  left: 8px;
  background: transparent;
  border: 0;
  margin-top: -3.2rem;
  svg {
      color: var(--blue-900);
      width: 3.2rem;
      height: 3.2rem;
  }
  transition: filter .2s;
  &:hover {
    filter: brightness(0.9);
  }
}

.addImage {
  position: absolute;
  top: 4rem;
  right: 8px;
  background: var(--blue-900);;
  border: 0;
  margin-top: -3.2rem;

  display: flex;
  align-items: center;
  color: var(--gray-300);
  height: 3.2rem;
  padding: .8rem 1.2rem;
  border-radius: 3.2rem;
  font-size: 1.4rem;

  svg {
      color: var(--gray-300);
      width: 2rem;
      height: 2rem;
  }
  transition: filter .2s;
  &:hover {
    filter: brightness(0.9);
  }
}
